body{
    font-weight: bold;
}

button{
    background-color: lightseagreen;
    color: white;
    font-family: cursive;
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 70px;
}

#button:hover{
    box-shadow: 2px 2px 7px grey;
    transition-duration: 80ms;
    transform: translate(2px, 3px);
}

#button:active{
    transform: translate(-1px, 1px);
    box-shadow: 0px 0px 0px grey;
}